@import url('https://fonts.googleeapis.com/css?family=Pacifico&display=swap');


html {
    font-family: "Poppins", sans-serif;
  
  
  
  
   background-color: #8cff0058;
  width: 1300px;
  height: 1050px;
   
  
  }


body { font: 12pt Arial; }
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;}
button { font-size: 12pt; padding: 30px; }